<footer id="footer" fragment="footer">
    <div class="row gy-3 container-fluid px-2 px-md-5 bg-dark py-2 mx-0">
        <div class="col-12 col-sm-6 col-md-4 text-white  text-center">
            <h4 class="mb-4">Contact</h4>
           <div>
            <h5 class="fw-normal d-flex align-items-center justify-content-center mb-3">
                <i class="fa-solid fa-envelope me-2 mb-0"></i>
                <span th:text="${generalSettings.contact_email == '' ? 'salmanbenomar250@gmail.com' : generalSettings.contact_email}"></span>
            </h5>
            <h5 class="fw-normal d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-phone me-2"></i>
                <span th:text="${generalSettings.contact_phone == '' ? '+212767331339' : generalSettings.contact_phone}"></span>
            </h5>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <h4 class="mb-4 text-center text-white">Links</h4>
            <div class="text-center">
                <p><a th:href="@{/#about-us}">About Us</a></p>
                <p><a th:href="@{/#promotion}">Promotion</a></p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <form  onsubmit="contacter()" th:object="${contactDto}" method="POST">
                <div class="mb-2">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control shadow-none" name="email" th:field="*{email}" placeholder="Enter your email" required>
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">Message</label>
                    <input type="text" class="form-control shadow-none" name="message_" th:field="*{message_}" placeholder="Enter your message" required>

                </div>
                <button class="btn btn-sm btn-warning text-white d-block shadow-none sendMsgContact">Send</button>

            </form>
           
            
            
        </div>
    </div>
    <div class="container-fluid px-2 px-md-5 text-white text-center py-2">
        <p class="mb-0">
            All rights reserved. Alixa 2024

        </p>
    </div>
</footer>