* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
}

aside {
    border-right: 1px solid #ddd;
    box-shadow: 0 0 1px #ddd;
    width: 17%
}

h3 {
    font-size: 25px;
    font-weight: normal;
    
}

aside h3 img {
    width: 55px;
    position: relative;
    right:5px
}

aside h3 span{
    position: relative;
    top:10px;
    right:8px
}

aside ul li a {
    color: #B7B8C5;
    font-size: 15px;
    transition: 0.3s;
}

aside ul li a:hover {
    background-color: #5E5FEF;
    color: white
}



.wrapper {
    width: 83%;
}

@media (max-width:810px) {
    aside {
        width: 60px;
    }
    aside li a span {
        display: none;
    }
    aside ul li a {
        justify-content: center !important;
    }
    aside ul li a i {
        margin-right: 0px !important;
        margin-left: 4px;
    }
    aside h3 span {
        display: none;
    }

    .wrapper {
        width: calc(100% - 60px);
    }
}

.wrapper header {
    background-color: #5E5FEF;
    height: 50px;
}

.wrapper header h3 {
    font-weight: normal !important;
    font-size: 18px;
    position: relative;
    top: 3px
}

.wrapper header h3 img {
    width: 30px;
    height: 30px;
    border: solid 2px #ffc107;
}

@media(max-width:400px) {
    .wrapper header h3 {
        font-size: 16px;
    }
}

.wrapper .content {
    background-color: #FAFBFD;
    min-height: calc(100vh - 50px);
    padding-bottom: 40px;
}

.wrapper>.content h3 {
    color: #383c4c;
    font-size: 22px;
    position: relative;
    padding-left: 30px;
}

.wrapper>.content h3::before {
    content: '';
    position: absolute;
    top: calc(50% + 12px);
    transform: translateY(-50%);
    left: 0px;
    width: 25px;
    height: 15px;
    border-radius: 18px;
    background-color: #ffc107;
}

.toast{
    opacity: 1 !important;
}